# Dependencies
/node_modules

# Build output
/out

# Logs
*.log
app-log.txt
console.txt
terminal-log.txt

# Temporary files
structure.txt

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
